 .projects{

  display : grid;

  grid-template-areas : 
  " landing landing landing                 landing landing landing "
  " purpose purpose purpose                 purpose purpose purpose "
  " getInvolved getInvolved getInvolved     discord discord discord "
  " projects projects projects              projects projects projects ";
;
  grid-template-columns : [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr;
  grid-template-rows: repeat(1fr);
 }